<html>
	<head>
		{% load facebook %}
		{% facebook_init %}
			{% block facebook_code %}
			{% endblock %}
		{% endfacebook %}
		{% load staticfiles %}
	</head>
	<body>
		{% if profile %}
			{{ profile.first_name }} {{ profile.last_name }}
		{% else %}
		{% endif %}
		<img src="{% static "assassins/img/ajax-loader.gif" %}" alt="My image"/> 
		<fb:login-button autologoutlink="true" show-faces="true" width="200" max-rows="1" scope="{% facebook_scope %}"></fb:login-button>
	</body>
	{% facebook_load %}
</html>